@theme  inline {
--color-neutral: var(--color-neutral);
--color-on-neutral: var(--color-on-neutral);
--color-neutral-surface: var(--color-neutral-surface);
--color-on-neutral-surface: var(--color-on-neutral-surface);
--color-lightest: var(--color-lightest);
--color-on-lightest: var(--color-on-lightest);
--color-lightest-surface: var(--color-lightest-surface);
--color-on-lightest-surface: var(--color-on-lightest-surface);
--color-darkest: var(--color-darkest);
--color-on-darkest: var(--color-on-darkest);
--color-darkest-surface: var(--color-darkest-surface);
--color-on-darkest-surface: var(--color-on-darkest-surface);
--color-danger: var(--color-danger);
--color-on-danger: var(--color-on-danger);
--color-warning: var(--color-warning);
--color-on-warning: var(--color-on-warning);
--color-info: var(--color-info);
--color-on-info: var(--color-on-info);
--color-success: var(--color-success);
--color-on-success: var(--color-on-success);
--color-accent: #ea3031;
}
.theme-dark {
--color-neutral: #111;
--color-on-neutral: white;
--color-neutral-surface: #333;
--color-on-neutral-surface: white;
--color-lightest: #333;
--color-on-lightest: white;
--color-lightest-surface: #111;
--color-on-lightest-surface: white;
--color-darkest: black;
--color-on-darkest: white;
--color-darkest-surface: #333;
--color-on-darkest-surface: white;
--color-danger: #f9d4d4;
--color-on-danger: rgb(98.85, 24.15, 24.15);
--color-warning: #feecc5;
--color-on-warning: rgb(112.35, 70.05, 10.65);
--color-info: #c0e6ff;
--color-on-info: rgb(28.75, 75.55, 114.25);
--color-success: #cbedd6;
--color-on-success: rgb(18.6, 83.4, 35.7);
}
.theme-light {
--color-neutral: #f8f8f8;
--color-on-neutral: #666;
--color-neutral-surface: white;
--color-on-neutral-surface: #333;
--color-lightest: white;
--color-on-lightest: #333;
--color-lightest-surface: white;
--color-on-lightest-surface: #333;
--color-darkest: black;
--color-on-darkest: white;
--color-darkest-surface: white;
--color-on-darkest-surface: black;
--color-danger: #f9d4d4;
--color-on-danger: rgb(98.85, 24.15, 24.15);
--color-warning: #feecc5;
--color-on-warning: rgb(112.35, 70.05, 10.65);
--color-info: #c0e6ff;
--color-on-info: rgb(28.75, 75.55, 114.25);
--color-success: #cbedd6;
--color-on-success: rgb(18.6, 83.4, 35.7);
}