@import "tailwindcss";
@import "tw-animate-css";
@import "./colors.gen.css";
@import "./storybook.css";
@import "./shadcn.css";
@plugin "@tailwindcss/typography";

/** temporary solution for articles until I get my headers in design system **/
.prose {
  --tw-prose-body: inherit;
  --tw-prose-headings: inherit;
  --tw-prose-links: inherit;
  --tw-prose-bold: inherit;
  --tw-prose-quotes: inherit;
  h1,h2,h3 {
    font-weight: lighter
  }
  h1 {
    font-size: 20rem;
  }
  :where(strong):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    font-weight: normal!important
  }
}

/** fixing chrome autofill as best as hacks allow **/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  font-size: inherit;
  -webkit-text-size-adjust: 100%; /* forces proper sizing */
  -webkit-text-fill-color: var(--color-on-cavity);
  transition: background-color 9999s ease-in-out 0s;
  box-shadow: 0 0 0px 1000px var(--color-cavity) inset;
}
@theme  inline {

}

/** temporarily removed outline **/
*:focus {
  outline: none;

}